$font-stack: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$font-size: 15px;
$back-color: white;
$text-color: black;
$back-img: url("../img/header_background_v1.jpg");
$header-color: #ede6e3;
$nav-border: #607e8c;
$button-color: #00adad;
$inputBorder-color: #becad0;
$placeholder-color: black;
$article-back: #f0f0f0;
$article-border: #5f7e8c;
$postDscr-color: red;
$h3-color: #0098a8;