$font-stack: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-size: 18px;
$back-img: url("../img/header_background_v2.jpg");
$back-color: #efefef;
$text-color: #b1a19f;
$header-color: #ff5270;
$nav-border: white;
$button-color: #0000ad;
$inputBorder-color: #e0e5e6;
$placeholder-color: #939393;
$article-back: white;
$article-border: #cec1c1;
$postDscr-color: #cec1c1;
$h3-color: #6f849a;